<div class="sidebar">
    <a routerLink="/Request">Apply for Leave</a>
    <a routerLink="/RequestLog">Leave History</a>
</div>
  
  <!-- Page content -->
<div class="content">
    <h1>Remaining Days</h1>
    <div class="daysremaining">
        <table class="table">
            <tr class="daystype" *ngFor="let leaveDay of leaveDays">
                <td class="type">{{leaveDay.name}}</td>
                <td class="days">{{leaveDay.maxDays}}</td>
            </tr>
        </table>
    </div>
    <div class="activerequests">
        <h1>My Leave Records</h1>
        <thead class="requests">
            <tr style="border-bottom: 1px solid;">
                <td class="request-header">Start Date<i class="fa-solid fa-arrow-up" style="left:30%" (click)="sortStartDateUp()"></i><i class="fa-solid fa-arrow-down" (click)="sortStartDate()"></i></td>
                <td class="request-header">End Date<i class="fa-solid fa-arrow-up" style="left:35%" (click)="sortEndDateUp()"></i><i class="fa-solid fa-arrow-down" (click)="sortEndDate()"></i></td>
                <td class="request-header">Request Sent<i class="fa-solid fa-arrow-up" style="left:15%" (click)="sortRequestDateUp()"></i><i class="fa-solid fa-arrow-down"  (click)="sortRequestDate()"></i></td>
                <td class="request-header">Message</td>
                <td class="request-header">Type<i class="fa-solid fa-arrow-up" style="left:58%" (click)="sortTypeUp()"></i><i class="fa-solid fa-arrow-down"  (click)="sortTypeDown()"></i></td>
                <td class="request-header">Status</td>
                <td class="request-header">Admin</td>
                <td class="request-header">Cancel Request</td>
            </tr>
        </thead>
        <tbody class="requests" *ngFor="let request of requests">
            <tr class="request-row">
                <td class="request">{{request.startDate | date:'yyyy-MM-dd'}}</td>
                <td class="request">{{request.endDate | date:'yyyy-MM-dd'}}</td>
                <td class="request">{{request.requestSent | date:'yyyy-MM-dd'}}</td>
                <td class="request">{{request.messageForDecline}}</td>
                <td class="request">{{request.requestType.name}}</td>
                <td class="request">{{getStatusType(request.statusRequest)}}</td>
                <td class="request">{{request.adminName}}</td>
                <td class="request"><button type="button" class="btn btn-danger" (click)="deleteRequest(request.requestId);">Delete <i class="fa-solid fa-trash"></i></button></td>
            </tr>
        </tbody>
    </div>
</div>

