<div class="outer-container">
    <div class="wrapper-leavedays">
        <h1 class="leavedays-title">{{H1Title}}</h1>
        <div class="monitor-container" id="table-data">
            <div class="monitor-vacation" *ngFor="let item of leavedays">
                <ul class="leavedays-firstTable">
                    <li><h1>{{item.leaveType}}</h1></li>
                    <li>{{item.daysLeft}} / Days</li>
                </ul>
            </div>
        </div>
        <div class="button-container">
            <button (click)="downloadRapport()">DOWNLOAD RAPPORT</button>
        </div>
    </div>
    <div class="wrapper-newLeaveType">
        <div class="form-container">
            <form [formGroup]="form" (ngSubmit)="onSubmit()">
                <h3>{{formTitle}}</h3>
                <div class="form-group">
                    <label>Leave Type</label>
                    <input name="leavename" formControlName="leavename" [(ngModel)]="leaveType.leavename" class="form-control" placeholder="Name">
                </div>
                <div class="form-group">
                    <label>Max days</label>
                    <input name="maxdays" formControlName="maxdays" [(ngModel)]="leaveType.maxdays" clasS="form-control" >
                </div>
                <div class="button-container">
                    <button type="submit">CREATE</button>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="container-Requests">
    <div class="wrapper-status">

    </div>
    <div class="wrapper-pendingRequest">

    </div>
</div>