.outer-container{
    display: flex;
    justify-content: space-evenly;
    padding: 1em;
    background-color: aliceblue;
}

.wrapper-leavedays{
    padding: 1em;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.monitor-container{
    display: flex;
    text-align: center;
}

.monitor-vacation {
    border-radius: .25em;
    -webkit-border-radius: .25em;
    -moz-border-radius: .25em;
    -ms-border-radius: .25em;
    -o-border-radius: .25em;
    margin: .2em;
        box-shadow: inset 0 0 10px 1px rgb(144, 52, 156);
}

.monitor-vacation li{
    list-style: none;
}


.leavedays-firstTable{
    padding: 0;
    min-width: 10vw;

}

.leavedays-title{
    align-self: center;
    font-weight: bolder;
}
.button-container{
    display: flex;
    justify-content: center;
}

button{
    --color: hsl(208, 72%, 39%);
    background-color: transparent;
    width: fit-content;
    display:inline-block;
    cursor: pointer;
    text-decoration: none;
    border: 3px solid var(--color);
    border-radius: .25em;
    -webkit-border-radius: .25em;
    -moz-border-radius: .25em;
    -ms-border-radius: .25em;
    -o-border-radius: .25em;

    position:relative;
    isolation: isolate;
}
button::after{
    content: '';
    position: absolute;
    z-index: -1;
    background-color: var(--color);
    inset: 0;
    scale: 0 1;
    transition: scale 450ms;
    -webkit-transition: scale 450ms;
    -moz-transition: scale 450ms;
    -ms-transition: scale 450ms;
    -o-transition: scale 450ms;
    transform-origin: right;
}
button:hover::after,
button:focus-visible::after{
    transform-origin: left;
    scale: 1 1;
}

.form-container h3{
    text-align: center;
}

form{
    background-color: #7e7b7b;
    padding: 2em;
    border-radius: .25em;
    -webkit-border-radius: .25em;
    -moz-border-radius: .25em;
    -ms-border-radius: .25em;
    -o-border-radius: .25em;
}

.container-Requests{
    display: flex;
    flex-direction: column;
    padding: 1em;
    background-color: aquamarine;
}
.wrapper-status{
    display: flex;
    padding: 1em;
    justify-content: center;
}

.request-header{
    padding: 1em;
    text-align: center;
}
.request{
    text-align: center;
    padding: .5em 1em;
}
table {
    background-color: #7e7b7b;
    border-radius: .25em;
    -webkit-border-radius: .25em;
    -moz-border-radius: .25em;
    -ms-border-radius: .25em;
    -o-border-radius: .25em;
}

